
#loading {
    font-size:16px;
    line-height: 32px;
    padding:10px 16px
}

#loading .loading_text {
    color: #d1d5da
}

.lds-dual-ring {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: text-top;
    margin: 0 10px 0 5px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid #d1d5da;
    border-color: #d1d5da transparent #d1d5da transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#iframeApp {
    font-size:16px;
}

#searchInputGroup .input-group-text,
#searchInputGroup .form-control {
    border-color:#dfe1e5;
    border-width:0 0 1px 0;
    border-radius:0
}

#searchInputGroup .input-group-text {
    background: rgb(246, 248, 250);
    color: #586069;
}